useDynLib(odpc, .registration=TRUE)
importFrom("Rcpp", "evalCpp")
importFrom("stats", "var", "fitted")
importFrom("graphics","plot")
importFrom("methods","is")
importFrom("forecast", "auto.arima", "forecast")
importFrom("parallel", "stopCluster", "makeCluster", "detectCores")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","foreach","%dopar%", "%:%")
importFrom("glmnet","glmnet")
importFrom("MASS","ginv")
export(odpc)
export(components.odpcs)
export(plot.odpc)
export(forecast.odpcs)
export(cv.odpc)
export(crit.odpc)
export(cv.sparse_odpc)
S3method("is", "odpc")
S3method("plot", "odpc")
S3method("fitted", "odpc")
S3method("print", "odpc")
S3method("is", "odpcs")
S3method("print", "odpcs")
S3method("fitted", "odpcs")
S3method("forecast", "odpcs")
S3method("components", "odpcs")
