fits_test_large_0.01.Rdata
fits_test_large_0.5.Rdata
fits_test_large_0.75.Rdata
fits_test_large_1.Rdata
fits_test_small_0.01.Rdata
fits_test_small_0.5.Rdata
fits_test_small_0.75.Rdata
fits_test_small_1.Rdata
test_old_ver.R
